{% extends 'base.html' %}

<script>
{% block jquery %}

var endpoint = 'api/data/';
var audio_labels = [];
var video_labels = [];
var audio_values = [];
var video_values = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        audio_labels = data.audio_recognizer_labels;
        video_labels = data.video_recognizer_labels;
        audio_values = data.audio_recognizer_data;
        video_values = data.video_recognizer_data;
        setChart();
    },
    error: function(error_data){
        console.log("error");
        console.log(error_data)
    }
});

function setChart(){
    var audioCtx = document.getElementById('audioChart').getContext('2d');
    var videoCtx = document.getElementById("videoChart");
    var audioChart = new Chart(audioCtx, {
        type: 'bar',
        data: {
            labels: audio_labels,
            datasets: [{
                label: 'nn response',
                data: audio_values
            }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
    });


    var videoChart = new Chart(videoCtx, {
        type: 'bar',
        data: {
            labels: video_labels,
            datasets: [{
                label: 'nn response',
                data: video_values
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
}

{% endblock %}
</script>

{% block navbar %}
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
        <li class="nav-item active"><a class="nav-link" href="{% url 'current_stats' %}">Current</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'preview' %}">Preview</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'control_panel' %}">Control Panel</a></li>
    </ul>
{% endblock navbar %}

{% block content %}

      <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#android">ANDROID</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#django">DJANGO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#synthesis">SYNTHESIZED</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="android" class="container tab-pane active"><br>
        <h1>Currently recognized emotion</h1>
      <div class='row' url-endpoint='{% url "current_data" %}'>

            <div class='col-sm-6'>
                <canvas id="audioChart" width="400" height="400"></canvas>
            </div>
            <div class='col-sm-6'>
                <canvas id="videoChart" width="400" height="400"></canvas>
            </div>

      </div>
    </div>
    <div id="django" class="container tab-pane fade"><br>
      <h3>DJANGO</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="synthesis" class="container tab-pane fade"><br>
      <h3>SYNTHESIZED</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>

{% endblock content %}