{% extends 'base.html' %}

{% block navbar %}
    <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'current_stats' %}">Current</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'preview' %}">Preview</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'control_panel' %}">Control Panel</a></li>
    </ul>
{% endblock navbar %}

{% block content %}

<div class='row'>
    <div>
        <br/>
        <h1>Emotion detection system</h1>
        <p>Welcome to the emotion detection system. What do you want to do?</p>
        <ul>
            <li>To see the newest emotion data, go to the <a href="{% url 'current_stats' %}">current</a> section.</li>
            <li>To see how emotion data changed in time, go to the <a href="{% url 'preview' %}">preview</a>.</li>
            <li>To change settings of the remote application or start/stop saving incoming data, go to the <a href="{% url 'control_panel' %}">control panel</a>.</li>
        </ul>
        <h2>What do those categories for graphs mean?</h2>
        <p>Emotions can be predicted both remotely and locally, possibly with different results and different delays. Additionally, for easier interpretation, several emotions can be grouped together - so, for example, instead of seeing probability scores separately for "sadness" and "disgust" we might see them together under "negative emotions". </p>
        <p>Therefore, the "local/robot" divide shares the results on those calculated locally and remotely. "Grouped" graphs have emotions grouped in accord with configuration files.</p>
        <p>The graphs won't be current all the time - "local" graphs will be updated only when the raw data arrives, "robot" graphs when emotion data arrives. To make sure that the remote application is sending the desired kind of data, choose the appropriate mode in <a href="{% url 'control_panel' %}">control panel</a> and send the settings. Remember that calculating emotion data remotely may lower the frequency of incoming updates.</p>
        <h2>How do I change the remote settings? How can I save data?</h2>
        <p>Choose desired options in <a href="{% url 'control_panel' %}">control panel</a> and remember to press the "send settings" button or the changes won't take place. The process of changing settings may take a few seconds.</p>
        <p>In order to save incoming data, enter a valid directory path at the bottom of the <a href="{% url 'control_panel' %}">control panel</a> and press "start"</p>
    </div>
</div>

{% endblock content %}